/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
}

/* Setting global styles */
body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Styling paragraphs */
p {
    color: rgb(85,85,85);
}

/* Styling links and buttons */
a,
button {
    transition: all 300ms ease;
}

/* Styling navigation */
nav,
.navlinks {
    display: flex;
}

nav{
    justify-content:space-around;
    align-items: center;
    height: 17vh;
}

nav.links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
a{
    color:black;
    text-decoration: none;
    text-decoration-color: azure;

}
a:hover{
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}