/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting global styles */
body {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Styling paragraphs */
p {
    color: rgb(85,85,85);
}

/* Styling links and buttons */
a,
button {
    transition: all 300ms ease;
}

/* Styling navigation */
nav,
.nav-links